[Desktop Entry]
Type=Application
Name=Remnant 2 Analyzer
GenericName=Save Game Analysis
Comment=Shows found and missing items, plus the currently rolled worlds
Categories=Game;Utility;
Keywords=Remnant;Savegame;Items;
Exec=r2wa %f
Icon=io.github.ludzig.R2wa
Terminal=false
StartupNotify=true
